@tailwind base;
@tailwind components;
@tailwind utilities;

/* Header {
  border-bottom: black 2px solid;
  min-width: 100%;
  border-width: 100%;
  padding-bottom: 10px;
  padding-top: 0px;
  margin-top: 0px;
  display: grid;
  flex-direction: row;
  grid-template-columns: auto 40% auto auto;
  position: fixed;
} */

/* .bton{
  background-color: transparent;
  font-family: "Lucida Console", "Courier New", monospace;
  color: black;
  border: 0px;
  margin: auto;
  font-size: xx-large;
  cursor: pointer;
  float: right;
  position: relative;
  padding:10px;
} */

/* body{
  color: black;
  display: inline-block;
  font-family: 'Times New Roman', Times, serif;
  padding: 1vh;
  font-size: 30px;
} */

h1{
    display: inline-block;
    padding:15vh 1vh;
    font-size: 30px;

}

.all{
  font: futura;
}

@font-face {
  font-family: 'Futura';
  src: url('./fonts/futura.ttf') format('truetype'); /* Ensure the path matches */
}

html {
  scroll-behavior: smooth;
}

